*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F5F8FF;
    margin: 0 auto;
    max-width: 1270px;
}
.btn{
    background-color: #4E47FF;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 18px;
    border: none;
}
.text-primary{
    color: #4E47FF;
    font-size: 34px;
    font-weight: black;
}
.text-secondary{
    font-weight: bold;
    font-size: 42px;
    color: #252432;
}
/*Nav bar area*/
.container{
     padding: 30px 0;
}
.header-background{
    width: 100%;
    background-image: url(image/Hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*Hero area*/
.hero-container{
    height: 300px;
    text-align: center;
    margin-top: 150px;
    padding-bottom: 80px;
}
.title{
    font-weight: bolod;
    font-size: 65px;
    color: #252432;
    margin-bottom: 50px;
}
/*Main area Section 1*/
.main-content{
    padding: 80px 0;
}
.action-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.action-description{
    color: rgba(37, 36, 50, 0.5);
    font-size: 24px;
    margin-top: 23px;
    margin-bottom: 23px;
}
.action-image{
    border-radius: 30px;
    width: 400px;
}
/*Main area Section 2*/

.Productive-area{
    margin-top: 100px;
    text-align: center;
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    padding: 50px 140px;
}
.Productive-user{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}
.Productive-title{
    font-weight: bold ;
    font-size: 80px;
    color: #4E47FF;
}
.Productive-des{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}
/*Main area Form Section 3*/
.form-section{
    margin: 100px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
form .basic-info label{
    display: block;
    margin-top: 15px;
    font-size: 18px;
}
form .basic-info input{
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
}
.basic-info textarea{
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
}
/*Footer Area*/
footer{
    text-align: center;
    padding: 80px 0;
    background-color: white;
}
.footer-title{
    font-weight: black;
    font-size: 100px;
    color: #4E47FF;
}
.footer-description{
    font-size: 16px;
    color: #8987A1;
}
.footer-list{
    margin-top: 20px;
}
.footer-list a{
    text-decoration: none;
    padding: 10px;
    color: #8987A1;
}