body{
    max-width: 1270px;
    margin: 0 auto;
    background-color: antiquewhite;
}
.btn{
    background-color: #4E47FF;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 18px;
}
.text-primary{
    color: #4E47FF;
    font-size: 34px;
    font-weight: black;
}
/*Nav bar area*/
.nav-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*Hero area*/
.hero-area{
    text-align: center;
    margin-top: 120px;
    margin-bottom: 80px;
}
.title{
    font-weight: bolod;
    font-size: 65px;
    color: #252432;
}